.lead__title {
  font-family: 'Inter', Helvetica, sans-serif;
  font-size: 40px;
  line-height: 44px;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  color: #FFFFFF;
  width: 288px;
  margin: 0 auto 16px;
}

@media screen and (min-width: 768px) {
  .lead__title {
    font-size: 96px;
    line-height: 100px;
    margin-bottom: 32px;
    width: 720px;
  }
}

